.span {
  font-size: 13px;
}
.inputWrapper {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  width: 100%;
}

.inputWrapper > input {
  width: 100%;
}

.colorPalette {
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-color-primary);
  border-radius: 8px;
  cursor: pointer;
}

.colorPicker {
  position: absolute;
  right: 0px;
  top: 130px;
  z-index: 99;
}
.label {
  font-size: 20px;
  margin: 10px;
  font-weight: 700;
}
.input {
  font-size: 20px;
  margin: 10px;
}
